{% extends 'base.html' %} {% block content %}
<div class="card mb-3 container-fluid">
  <div class="row g-0">
    <div class="col-md-4">
      {% load static %}
      <img
        src="{% static product.image|cut:'main/static/' %}"
        class="img-fluid rounded-start"
        alt="{{product.name}} Image"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <span class="badge rounded-pill text-bg-primary"
          ><i class="bi bi-tag me-2"></i> {{product.price}} BHD</span
        >
        <span class="badge rounded-pill text-bg-primary"
          ><i class="bi bi-suitcase me-2"></i>{{product.weight}} KG</span
        >
        <span class="badge rounded-pill text-bg-primary"
          ><i class="bi bi-calculator me-2"></i>{{product.stock}}</span
        >
        <p class="card-text mt-5">{{product.description}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
