{% extends 'base.html' %} {% block content %}
<h1>Products List</h1>
<div class="container-fluid d-flex flex-wrap gap-2">
  {% for product in product_list %}
  <div class="card" style="width: 18rem; height: 30rem">
    {% load static %}
    <img
      src="{% static product.image|cut:'main/static/' %}"
      class="card-img-top img-thumbnail rounded-start"
      alt="..."
      style="height: 245px;"
    />
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <span class="badge rounded-pill text-bg-primary"
        ><i class="bi bi-tag me-2"></i> {{product.price}} BHD</span
      >
      <span class="badge rounded-pill text-bg-primary"
        ><i class="bi bi-calculator me-2"></i>{{product.stock}}</span
      >
      <a
        href="{%url 'products_detail' product.id %}"
        class="btn btn-primary me-2"
        role="button"
      >
        Edit
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
