body {
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: auto;
}

footer.page-footer {
  padding-top: 0 !important;
  text-align: right !important;
}

.image-header {
  margin: 0 auto;
  width: 175px;
}

.carousel-img {
  height: 60vh;
  width: 100%;
  filter: brightness(50%);
}

.manage-flex {
  display: flex;
}
