body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Poppins", sans-serif !important;
  display: flex;
  flex-direction: column;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: auto;
}

footer.page-footer {
  padding-top: 0 !important;
  text-align: right !important;
}

.image-header {
  margin: 0 auto;
  width: 175px;
}

.carousel-img {
  height: 60vh;
  width: 100%;
  filter: brightness(50%);
}

.manage-flex {
  display: flex;
}

.carousel-caption h1,
.carousel-caption p,
.carousel-caption .btn {
  color: white !important;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-caption .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.carousel-caption .btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}

.bd-placeholder-img {
  font-size: 1.625rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(var(--bs-body-color-rgb), 0.1);
  border: solid rgba(var(--bs-body-color-rgb), 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(var(--bs-body-color-rgb), 0.1),
    inset 0 0.125em 0.5em rgba(var(--bs-body-color-rgb), 0.15);
}
.b-example-vr {
  flex-shrink: 0;
  width: 0.2rem;
  height: 100vh;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
.bd-mode-toggle {
  z-index: 1500;
}
.bd-mode-toggle .bi {
  width: 1em;
  height: 1em;
}
.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
.sidebar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}
.content-with-sidebar {
  margin-left: 230px;
}
