{% extends 'base.html' %} {% block content %}

<h1>About Overclock</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, fugiat
  suscipit. Eius necessitatibus culpa, blanditiis distinctio ipsa numquam
  ratione quas soluta sunt tempora laborum corporis possimus consequatur
  molestias magni nihil. lor
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum itaque
  dignissimos rerum molestiae aspernatur at odit, dolore, totam reprehenderit
  omnis, exercitationem sunt ad? A nihil tempore harum. Eaque, dolorum corporis.
</p>

{% endblock %}
