{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container my-4">
  <h1 class="mb-4">Browse Category: {{ category.name }}</h1>

  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="{% static product.image|cut:'main/static/' %}"
          class="card-img-top"
          style="height: 200px; object-fit: cover"
        />

        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p>{{ product.description }}</p>
          <p>${{ product.price }}</p>

          <a
            href="{% url 'products_detail' product.id %}"
            class="btn btn-primary btn-sm"
          >
            View
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
